<header class="header">
  <div class="logo-bar">
    <img class="logo" src="/pictures/logo-beige.png">
    BePrepared
  </div>
  <button routerLink="/statistics" class="nav-btn">Statistics</button>
</header>

<div class="container">

  <div class="profile-header">
    <div class="profile-left">
      <div class="avatar">
        <span class="material-symbols-outlined">
          account_circle
        </span>
      </div>
      <h2>Username</h2>
    </div>
    <a routerLink="/editprofile" class="edit-profile">Edit profile <span class="material-symbols-outlined">
        edit
      </span></a>
  </div>

  <p routerLink="/events" class="navigate-back"><- Back</p>

      <section class="card">
        <div class="card-header">
          <h3>Badges</h3>
          <p routerLink="/badges">See all →</p>
        </div>
        <div class="badge-area">
          🏅
        </div>
      </section>

      <section class="card">
        <div class="card-header">
          <h3>My Events</h3>
          <a routerLink="/myevents">See all →</a>
        </div>

        <div class="events-grid">

          @for (event of myEvents; track event.id) {
          <div class="event-card" [routerLink]="['/myevents', event.id]">
            <h4>{{ event.name }}</h4>
            <p>{{ event.description }}</p>
            <div class="event-meta">
              <span> {{ event.location }}</span>
              <span> {{ event.startDate }} - {{ event.endDate }}</span>
            </div>
          </div>
          }




        </div>
      </section>

</div>