<header class="navbar">
  <div class="logo-bar">
    <img class="logo" src="/pictures/logo-beige.png">
    BePrepared
  </div>
  <div class="header-right">
    <button routerLink="/chat" class="header-btns">Chat</button>
    <button routerLink="/events" class="header-btns">All Events</button>
    <button routerLink="/myevents" class="header-btns">My Events</button>
    <button routerLink="/badges" class="current-btn">Badges</button>
    <button routerLink="/statistics" class="header-btns">Statistics</button>
    <button routerLink="/editprofile" class="header-btns">Profile</button>
  </div>
</header>

<div class="container">

  <section class="card">
    <div class="card-header">
      <h2>Earned Badges</h2>
    </div>

    <div class="badges">
      <div class="badge">🏅</div>
    </div>

    <button *ngIf="canManageBadges">Add badge</button>
  </section>


  <section class="card">
    <div class="card-header">
      <h2>Badge Progress</h2>
    </div>

    <div class="progress-item">
      <div class="progress-top">
        <span>Donation Hero</span>
        <span>2/5</span>
      </div>
      <div class="progress-bar">
        <div class="progress-fill" style="width: 40%"></div>
      </div>
      <p>attend 3 more donation events to earn this badge</p>
    </div>

    <div class="progress-item">
      <div class="progress-top">
        <span>Nature Explorer</span>
        <span>4/5</span>
      </div>
      <div class="progress-bar">
        <div class="progress-fill" style="width: 80%"></div>
      </div>
      <p>attend 1 more nature events to earn this badge</p>
    </div>

    <div class="progress-item">
      <div class="progress-top">
        <span>Community Service</span>
        <span>1/4</span>
      </div>
      <div class="progress-bar">
        <div class="progress-fill" style="width: 25%"></div>
      </div>
      <p>attend 3 more service events to earn this badge</p>
    </div>

    <div class="progress-item">
      <div class="progress-top">
        <span>Outdoor Adventure</span>
        <span>3/8</span>
      </div>
      <div class="progress-bar">
        <div class="progress-fill" style="width: 37%"></div>
      </div>
      <p>attend 5 more outdoor activities to earn this badge</p>
    </div>

  </section>

</div>